#app {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    min-width: 550px;
    max-width: 850px;
    margin: 0 auto;
}
a.active {
    color: orange;
}
nav {
    padding-top: 20px;
}
.nav-wrapper {
    background-color:tomato;
}

.search-wrapper.card {
    width: 25%;
    float: right;
    margin: 0;
    transition: margin .25s ease;
}
input#search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 75%;
    height: 45px;
    margin: 0;
    padding: 0 45px 0 15px;
    border: 0;
}
.search-wrapper i.material-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
